/* 
    Document   : style-mobile
    Created on : 04/08/2014, 09:37:00 AM
    Author     : Adriana Romero
    Description:
        Hoja de estilo formato 
        Pantallas de 1024x768 px, orientacion: portrait and landscape
*/

/************************************************************************************
Inicializacion de los componentes
*************************************************************************************/

#content{
    margin-top:10px;
    margin-left: 20px;
    width: 95% !important;
}

/************************************************************************************
Cabeceta
*************************************************************************************/

/* Title: se muestra para los dispositivos diferentes de smarthphones */

#title {
    padding-left: 135px;
    padding-top: 25px;
    margin: 0 0 1.5em 0;        
    color: #fff;

}

#header {
    margin-top: 0em;
    text-align: left;
    font-family: hbold;
    color: #fff;
    height: 100px;
    margin-left:0px;
    margin-right: 0px;
    font-size:16px;
}

/************************************************************************************
Paneles
*************************************************************************************/
/* Nav: posicion de botones de navegacion */

#nav {
    position: relative;
    text-align: left;
}
/* Nav: margenes para los menus de navegacion */

#nav a {
    margin: 0 1em 0 1em;
}

/* Overlays: botones que al pulsarlos desplazan los paneles (class .toggle) panel izquierdo */

#leftPanelButton .toggle {
    text-align: left;
    padding-left: 1px;
    height: 100px;
    background: rgba(0,28,54,0.2) url('images/menu.png') no-repeat;
    background-position: 10px;
    width: 80px;

}

/*Icono de compartir*/
.icon-myshare{
    background:rgba(0,28,54,0.2) url(images/icon-share.png) no-repeat !important;
    background-position: 10px !important;
}
/*Icono de busqueda*/
.icon-mysearch{
    background: rgba(0,28,54,0.2) url(images/icon-search.png) no-repeat  !important;
    background-position: 10px !important;
}
/* Overlays: botones que al pulsarlos desplazan los paneles (class .toggle) panel derecho */

#rightPanelButton .toggle {

    height: 100px;
    width: 80px;
    padding-left: 1px;

}
/*Icono de compartir*/
.icon-myshare{

    background-position: 25px !important;

}
/*Icono de busqueda*/
.icon-mysearch{

    background-position: 25px !important;
}

/*Estilo para las tablas ubicadas en el panel derecho*/
#rightPanel table{

    border-collapse: separate;
    border-spacing: 20px;
}
/*Propiedades para los combos ubicados en el panel derecho*/

#rightPanel select{

    font-size: 15px;
    width: 200px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    height: 60px;
    background: #f6f6f6;
    margin-top: 30px;
}


/**********************************************************/
/*Estilo para las listas                                  */
/**********************************************************/

/*Listas en sectores*/
/*Este es el UL*/
.listviewSector{
    margin-top: 30px;
    font-size:17px;
}
/*Estilo para LI a (botones)*/
.listviewSector li a{
    padding: 25px;
}



/************************************************************************************
Otros componentes
*************************************************************************************/
/* Imagen de "cargando"*/
.loadingPag{

    top:100px;
    left: 400px;
}

/*Menu TAB: pestañas en el grafico del indicador (Grafico, Datos, Ficha)*/
.tabs{
    margin-top: 0px;
    width: 99% !important
}

/*Estilo para los links del menu del grafico*/
.tab-links li {
    margin:0px 0px;
    float:left;
    list-style:none;
    border-right: 1px solid #b0b0b0;
}
/*Estilo para los botones en el menu grafico*/
.tab-links a {
    padding:6px 23px;
    font-size:16px;
}

/*Estilo para la tabla donde se mostraran los datos*/
#results{
    font-size: 15px;
}
/*Estilo para la tabla donde se mostraran los datos: cabecera*/
#results thead{
    font-size: 17px;
}

/*Div que contiene la fuente y el año de la grafica*/

#divFuente{
    font-size: 13px;

    line-height:20px;
}

/*Div que contiene el mapa en las consultas territoriales*/

#miMapa{
    width: 65%; 
    height:350px; 
}
/* Divs que contienen las graficas mostradas en la consulta territorial*/

#container1{
    margin-bottom: 100px;
}




