/* 
    Document   : style-mobile
    Created on : 04/08/2014, 09:37:00 AM
    Author     : Adriana Romero
    Description:
        Hoja de estilo formato Pantallas de 480x320 px, orientacion: portrait and landscape
*/

/************************************************************************************
Inicializacion de los componentes
*************************************************************************************/
body{
    font-size: 12.5pt;
    line-height: 1.5em;
}



.container {
    margin-top: -35px;
    padding: 0em 1.2em 1.7em 1.2em;
    text-align: justify;
}


/************************************************************************************
Cabeceta
*************************************************************************************/

#header {
    margin-top: 4.5em;
    font-family: hbold;
}



/* Title: este componente se oculta para smartphones */

#title {
    display: none;
}

/* Barra del titulo principal, aqui se muestra el nombre del sistema: Indicadores Sociales, Indicadores Relevantes, etc*/
#titleBar {
    padding-top: 10px;
    font-size: 13px;
    margin: 0px auto;
    color: #fff;
    padding-left:75px;
     background: rgba(0,28,54,1);
}


/************************************************************************************
Pie de pagina
*************************************************************************************/


/* Footer: Formato del pie de página */

#footer {
    margin-bottom: 3em;
}

/************************************************************************************
Paneles
*************************************************************************************/

/* Nav: margenes para los menus de navegacion */

#nav a {
    margin: 0 0.5em 0 0.5em;
}

/* Paneles: Formato paneles izquierdo y derecho, propiedades en común */
#leftPanel,
#rightPanel {

    background: #f6f6f6;
}


/* Overlays: botones que al pulsarlos desplazan los paneles (class .toggle) propiedades comunes */

#leftPanelButton .toggle,
#rightPanelButton .toggle {
    display: block;
    background: none;
    height: 50px;
    line-height: 44px;
}

/* Propiedad para panel izquierdo */
#leftPanelButton .toggle {
    text-align: left;
    background: url('images/menu.png') no-repeat ;
    background-position: 0px;
    margin-top: 5px
}

/* Propiedad para panel derecho */
#rightPanelButton .toggle {
    text-align: right;
     margin-top: 5px
}
/*Propiedades para tablas ubicadas en el panel derecho*/
#rightPanel table{

    border-collapse: separate;
    border-spacing: 20px;
}

/*Propiedades para los combos ubicados en el panel derecho*/
#rightPanel select{

    font-size: 15px;
    width: 200px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    height: 50px;
    background: #f6f6f6;
}

/************************************************************************************
Otros componentes
*************************************************************************************/


/* Imagen de "cargando"*/
.loadingPag{
    top:10px;
    left: 65px;
}

/* Divs que contienen las graficas mostradas en la consulta territorial*/
#container{
    height: 340px
}
#container1{
    height: 340px;
    width: 85% !important;
}

/*Muestra el nombre del sector donde se encuentra el indicador seleccionado*/
.mapaSitio{
        font-size: 11px;
        color:#fff;
        width: 82%;
    }

/*Div que contiene el mapa en las consultas territoriales*/
#miMapa{
    width: 100%; 
    height:200px; 
}

/*Propiedad responsiva para la ubicacion del 
y del logo de "cargando"*/
@media  screen and (min-width : 321px) {
    .loadingPag{

        top:0px;
        left: 130px;
    }

    #miMapa{ 
        height:180px; 
    }
}




/*Propiedades para las tablas de las consultas territoriales*/
.infoTerritorial table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}
.infoUbicacion table {
    line-height: 0px;
}

/*Propiedades para el boton de consulta*/
#bntConsultaT{

    margin-left: 120px;
}

/*Propiedades para el div codigo Distrito en las consultas territoriales*/
#codigoDistrito{
    font-size: 12px;
    font-family: hbold;
}


