/* 
    Document   : style-mobile
    Created on : 04/08/2014, 09:37:00 AM
    Author     : Adriana Romero
    Description:
        Hoja de estilo formato 
        Pantallas de 768x1024 px, orientacion: portrait and landscape
*/

/************************************************************************************
Inicializacion de los componentes
*************************************************************************************/

#content{

    margin-top: 10px;
    margin-left: 20px;
    width: 95% !important;
}
/************************************************************************************
Cabeceta
*************************************************************************************/

/* Title: se muestra para los dispositivos diferentes de smarthphones */

#title {
    padding-left: 135px;
    padding-top: 27px;
    margin: 0 0 1.5em 0;
    height: 100px;

}

#header {
    margin-top: 0em;
    color: white;
    font-size:16px;
    background: #001C36;

    height: 100px;
}


/************************************************************************************
Paneles
*************************************************************************************/
/* Nav */

#nav {
    position: relative;
    text-align: left;
}

#nav a {
    margin: 0 1em 0 1em;
}

/* Overlays: botones que al pulsarlos desplazan los paneles (class .toggle) panel izquierdo*/

#leftPanelButton .toggle {
    text-align: left;
    padding-left: 23px;
    height: 100px;
    background:rgba(0,28,54,0.2) url('images/menu.png') no-repeat;
    background-position: 15px;

}
/*Icono de compartir*/
.icon-myshare{
    background:rgba(0,28,54,0.2) url(images/icon-share.png) no-repeat !important;
    background-position: 40px !important;

}
/*Icono de busqueda*/
.icon-mysearch{
    background:rgba(0,28,54,0.2) url(images/icon-search.png) no-repeat  !important;
    background-position: 40px !important;
}
/* Overlays: botones que al pulsarlos desplazan los paneles (class .toggle) panel derecho */

#rightPanelButton .toggle {

    height: 100px;

}
/*Icono de compartir*/
.icon-myshare{

    background-position: 23px !important;

}
/*Icono de busqueda*/
.icon-mysearch{

    background-position: 23px !important;
}
/*Estilo para las tablas ubicadas en el panel derecho*/
#rightPanel table{

    border-collapse: separate;
    border-spacing: 20px;
}

/*Propiedades para los combos ubicados en el panel derecho*/
#rightPanel select{

    font-size: 15px;
    width: 200px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    height: 60px;
    background: #f6f6f6;
    margin-top: 30px;
}

/**********************************************************/
/*Estilo para las listas                                  */
/**********************************************************/

/*Listas en sectores y subsectores*/
/*Este es el UL*/
.listviewSector{
    font-size:18px;
}
/*Estilo para LI a (botones)*/
.listviewSector li a{padding: 25px;
}

/************************************************************************************
Otros componentes
*************************************************************************************/

/*Propiedad responsiva para la ubicacion del logo de "cargando"*/

@media (min-width: 760px) and (max-width: 979px) { 
    .loadingPag{
        top:80px;
        left: 350px;
    }


}
/*Propiedad responsiva para la ubicacion del logo de "cargando"*/

@media screen and (min-width: 979px)  {
    .loadingPag{

        top:60px;
        left: 500px;
    }

}

/*Menu TAB: pestañas en el grafico del indicador (Grafico, Datos, Ficha)*/
/*Estilo para los botones en el menu grafico*/

.tab-links a {
    padding:6px 100px;
    font-size:17px;
    width: 100%
}

.tab-links a {
    padding:6px 80px;
}
/*Estilo para la tabla donde se mostraran los datos*/
#results{
    font-size: 15px;
}
/*Estilo para la tabla donde se mostraran los datos: cabecera*/

#results thead{
    font-size: 17px;
}

/*Div que contiene la fuente y el año de la grafica*/
#divFuente{
    font-size: 13px;
    line-height:20px;
}
/* Divs que contienen las graficas mostradas en la consulta territorial*/

#container{
    height: 500px !important;
}
#container1{
    margin-bottom: 100px;
}

/*Div que contiene el mapa en las consultas territoriales*/

#miMapa{
    width: 65%; 
    margin-left: 160px !important;
    height:350px; 
}

/*Oculta el boton de whatsapp para tabletas*/

#btnWhatsApp{
    display: none !important;
}