/* 
    Document   : tablas
    Created on : 24/11/2014, 04:35:53 PM
    Author     : ADRIANA.ROMERO
    Description:
        Purpose of the stylesheet follows.
*/

/* Force table to not be like tables anymore */
#ind_general table,
#ind_general thead,
#ind_general tbody, 
#ind_general th,
#ind_general td,
#ind_general tr,

#inf_ciclo table,
#inf_ciclo thead,
#inf_ciclo tbody, 
#inf_ciclo th,
#inf_ciclo td,
#inf_ciclo tr,

#inf_general table,
#inf_general thead,
#inf_general tbody, 
#inf_general th,
#inf_general td,
#inf_general tr{ 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
#ind_general thead tr, 
#inf_ciclo thead tr, 
#inf_general thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#ind_general tr,
#inf_ciclo tr,
#inf_general tr
{ border: none }

#ind_general  td:nth-of-type(1), 
#inf_general td:nth-of-type(1){
    background: #A6A5A5;
    border-top: 5px #fff solid;
    padding: 5px !important;
 

}

#ind_general td:nth-of-type(2),
#inf_general td:nth-of-type(2){
    border-top: 5px #fff solid;
    background: #D1D1D1 !important; 
}
#ind_general td:nth-of-type(3) {
    background: #D1D1D1 !important; 
}

#ind_general td:nth-of-type(4),
#inf_general td:nth-of-type(3) {
    border-top: 5px #fff solid;
    background: #E6E6E5 !important;
}
#ind_general td:nth-of-type(5) {
    background: #E6E6E5 !important;
}

#ind_general td,
#inf_ciclo td,
#inf_general td { 
    /* Behave  like a "row" */
    border: none;
    padding: 3px !important;
    position: relative;
   
}

#ind_general td:before,
#inf_ciclo td:before,
#inf_general td:before
{ 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 100px; 
    white-space: nowrap;
}

/*
Label the data
*/

